/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: url('./images/robot_1920.jpg') no-repeat center/cover;
}


/* Navigation Bar */
.nav-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  /* padding-top: 0.25em; */
}

.nav-menu {
  display: none;
  width: 100%;
}

.nav-menu.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 1.5em 0;
}

.nav-menu-item {
  list-style: none;
  padding: .5em;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.nav-menu-item a {
  text-decoration: none;
  color: #000;
}

.nav-menu-toggle-button {
  position: absolute;
  top: 25%;
  right: 0;
  font-size: 1.875rem;
  margin-right: 1em;
  background-color: transparent;
  border: none;
  transition: 0.5s ease-in-out;
}

.nav-menu-toggle-button.rotate {
  transform: rotate(180deg);
}

.logo {
  padding: 0.5em 1em;
  font-size: 1.875rem;
}

.logo-robot {
  margin-right: 0.15em;
}


@media screen and (min-width: 1280px) {
  .nav-menu-toggle-button {
    display: none;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-top: 0;
    margin: auto;
    border-radius: 0 0 0.5em 0.5em;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
  }

  .nav-menu-item:last-of-type {
    margin-right: 1em;
  }

  .nav-menu-item a:hover {
    color: blue;
  }

  .logo {
    width: 100%;
  }
}