/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: url('./images/robot_1920.jpg') no-repeat center/cover;
}

.nav-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 10vh;
  background-color: #fff;
}

.nav-bar-toggle-button div {
  width: 1em;
  height: 0.15em;
  margin: 0.15em;
  background-color: #000;
}

.nav-bar-toggle-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1.875rem;
  margin-right: 1em;
}

.nav-menu {
  display: none;
}

.nav-menu.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 10vh;
  right: 0;
  width: 100%;
  padding: 3vh 0;
  /* transform: translateX(100%); */
  background-color: #fff;
}

.nav-menu-item {
  list-style: none;
  padding: .25em 1.5em .25em 0;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  /* opacity: 0; */
}

.nav-menu-item a {
  text-decoration: none;
  color: #000;
}

.logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.875rem;
  margin-left: 1em;
}


/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .nav-bar-toggle-button {
    display: none;
  }

  .nav-bar {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
  }

  .nav-menu-item {
    padding: 0 1.5em;
    opacity: 1;
  }
}