/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

.main-container {
  width: 100vw;
  height: auto;
  background: url('./images/robot_1920.jpg') no-repeat center/cover;
}


/* Navigation Bar */
.nav-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 10vh;
  background-color: #fff;
  margin: auto;
}

.nav-bar-toggle-button div {
  width: 1em;
  height: 0.15em;
  margin: 0.15em;
  background-color: #000;
}

.nav-bar-toggle-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1.875rem;
  margin-right: 1em;
  cursor: pointer;
}

.nav-menu {
  display: none;
}

.nav-menu.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 10vh;
  right: 0;
  width: 100%;
  padding: 3vh 0 10vh;
  background-color: #fff;
  z-index: 100;
}

.nav-menu-item {
  list-style: none;
  padding: .75em 1.5em;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
}

.nav-menu-item a {
  text-decoration: none;
  color: #000;
}

.logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.875rem;
  margin-left: 1em;
}

.rotate-lines .line1 {
  transform: rotate(-45deg) translate(-0.2em, 0.2em);
}

.rotate-lines .line2 {
  opacity: 0;
}

.rotate-lines .line3 {
  transform: rotate(45deg) translate(-0.2em, -0.25em);
}


/* Section */
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: auto;
  margin: auto;
}

.validator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 12em;
  height: 3em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  cursor: text;
}

.form input:focus::placeholder {
  color: transparent;
}

/* Hide the spin-button inside input */
.form input[type=number]::-webkit-inner-spin-button,
.form input[type=number]::-webkit-outer-spin-button {
  display: none;
}

.form input:focus {
  outline: none;
}

.display-result {
  font-size: 1.5em;
  text-align: center;
  margin: 0.25em 0 1em;
}

.note-lg {
  display: none;
}

.note-sm {
  margin: 1.5em 0;
  font-size: 1.5em;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

hr {
  width: 100%;
}

.est-id-code {
  text-align: center;
}

.est-id-code-heading {
  margin: 1.25em 0 1em;
}

.est-id-code-intro-text {
  line-height: 1.6;
  font-size: 1.1rem;
  color: #000;
  margin-bottom: 1.75em;
}

.est-id-code-intro-text > p:first-of-type {
  margin-bottom: .5em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: blue;
  font-size: 1rem;
  padding: 0.25em;
}


/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
  .section-container {
    width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .section-container {
    width: 85%;
    align-items: flex-start;
  }

  .note-sm {
    text-align: left;
  }

  hr {
    width: 70%;
  }

  .est-id-code {
    width: 70%;
    text-align: left;
  }

  .logo {
    margin-left: 2em;
  }

  .nav-bar-toggle-button {
    margin-right: 2em;
  }

  .nav-menu-item {
    padding: .75em 2.75em;
  }

  .display-result {
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .section-container {
    width: 75%;
    margin-left: 4em;
  }
}

@media screen and (min-width: 1280px) {
  .section-container {
    width: 80%;
    height: 80vh;
    margin: auto;
    justify-content: center;
  }

  .validator {
    height: 25vh;
  }

  .display-result {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    margin: 0;
  }

  .est-id-code {
    width: 50%;
    height: 45vh;
  }

  hr {
    width: 65%;
  }

  .nav-bar-toggle-button {
    display: none;
  }

  .nav-bar {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    border-radius: 0 0 0.5em 0.5em;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
  }

  .nav-menu-item {
    padding: 1em;
  }

  .nav-menu-item:last-child {
    padding: 1em 1.75em 1em 0.5em;
  }

  .nav-menu-item a {
    padding: 0.75em 0;
  }
  
  .nav-menu-item a:hover {
    color: blue;
  }

  .note-lg {
    display: inline-block;
    margin-left: 1em;
    font-size: 1.75rem;
  }

  .note-sm {
    display: none;
  }

  .logo {
    margin-left: 1.5em;
  }

  .est-id-code-intro-text > p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .section-container, .nav-bar {
    max-width: 1440px;
  }
  
  .est-id-code-intro-text > p {
    width: 50ch;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1600px) {
  .est-id-code-intro-text > p {
    font-size: 1.4rem;
  }
}